@use "../abstracts" as *;


.logo {
  display: block;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;

}
label {
  color: var(--clr-neutral-darkGrayishCyan);
}
.input-wrapper {
  .dolar, .person {
    max-width: 15px;
    max-height: 20px;
  }
}


.amount, .total {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.person {
  color: var(--clr-neutral-darkGrayishCyan2);
  font-size: .75rem;
}

#total, #tip-amount {
  font-size: 1.5rem;
  color: var(--clr-primary-strongCyan);
  @include break-point("medium", "up") {
    font-size: 2rem;
  }
}

.reset {
  background-color: var(--clr-primary-strongCyan) ;
  color: var(--clr-neutral-vDarkCyan);
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    background-color: var(--clr-neutral-lightGrayishCyan);
    transition: background-color ease-out .2s;
    -webkit-transition: background-color ease-out .2s;
    -moz-transition: background-color ease-out .2s;
    -ms-transition: background-color ease-out .2s;
    -o-transition: background-color ease-out .2s;

  }
}