// here we can put all the colors that we will end up using

$page-1: (
  primary: (
    "very-dark-blue":hsl(243, 87%, 12%),
    "des-blue":hsl(238, 22%, 44%),
  ),
  accent: (
    "bright-blue":hsl(224, 93%, 58%),
    "moderate-blue":hsl(170, 45%, 43%),
  ),
  neutral: (
    "light-blue":hsl(240, 75%, 98%),
    "light-gray":hsl(0, 0%, 75%),
  ),
  shadow: (
    "light-gray": rgba(197, 197, 197, 1),
    "dark-shadow": rgb(61, 61, 61)
  )
);
