//primary
$violet:hsl(263, 55%, 52%);
$grayish-blue:hsl(217, 19%, 35%);
$blackish-blue:hsl(219, 29%, 14%);
$mywhite:hsl(0, 0%, 100%);

//Neutral

$light-gray:hsl(0, 0%, 81%);
$light-grayish-blue:hsl(210, 46%, 95%);
