
//Colors 

//primary colors 

$Pale_blue: hsl(225, 100%, 94%);
$Bright_blue: hsl(245, 75%, 52%);

// neutral colors 

$Vpale_blue: hsl(225, 100%, 98%);
$Dblue: hsl(224, 23%, 55%);
$Dark_blue: hsl(223, 47%, 23%);