$break-points-up:  ("mobile" : "320px", "tablet":"760px" , "laptop":"1024px" , "laptop-l":"1440px");
$break-points-down:  ("mobile" : "319px", "tablet":"759px" , "laptop":"1023px" , "laptop-l":"1439px");

$myfont:("size":18px, "small":400, "big":600, "family":('Bai Jamjuree', sans-serif));