//primary

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$vdark-cyan : hsl(179, 100%, 13%);

//Neutral

$ts-white: hsla(0, 0%, 100%, 0.75);

// background , headings , buttons 
$vlight-grey : hsl(0, 0%, 95%);