

$myfont1:( "size" : 15px , "family" : ('Lexend Deca', sans-serif) , "weight" : 400 );

$myfont2:( "size" : 15px , "family" : ('Big Shoulders Display', cursiv) , "weight" : 900 );

$breaking-points1: ( "small" : "374px" , "big" : "1439px" );

$breaking-points2: ( "small" : "375px" , "big" : "1440px" );