//Gradients 

$light-magenta:hsl(293, 100%, 63%);
$light-violet:hsl(264, 100%, 61%);

//secondary 

$light-grayish-Violet: hsl(270, 20%, 96%);
$very-dark-desaturated-Violet: hsl(271, 36%, 24%);
$very-light-magenta: hsl(289, 100%, 72%);

//text 
$pale-violet:hsl(276, 100%, 81%); //sub-heading at the top of the app UI
$moderate-violet:hsl(276, 55%, 52%); //chat on the left
$desaturated-violet:hsl(271, 15%, 43%); // chat on the right
$grayish-blue:hsl(206, 6%, 79%); //placeholder text
$dark-grayish-violet:hsl(270, 7%, 64%); //paratraph